< div class= "modal fade" id = "exampleModalFullscreen" tabindex = "-1" aria - labelledby = "exampleModalFullscreenLabel" aria - hidden = "true" role = "dialog" >
    < div class= "modal-dialog modal-dialog-centered modal-fullscreen" >
        < div class= "modal-content" >
            < div class= "modal-header" >
                < h5 class= "modal-title" id = "exampleModalFullscreenLabel" > Quantidade de produtos liberados</h5>
<button type="button" class="btn-close" data - bs - dismiss="modal" aria - label="Close">
    </ button >
    </ div >
    < div class= "modal-body" >
    < div class= "modal-table" >
    < table id = "table_pro_os" class= "table table-striped table-bordered table-hover" data - toggle = "data-table" >
    < thead >
    < tr >
    < th class= "text-center" > Cod.Barras </ th >
    < th class= "text-center" > Descrição </ th >
    < th class= "text-center" > Fabricante </ th >
    < th class= "text-center" > Preço </ th >
    < th class= "text-center" > Qtde Liberada </ th >
    < th class= "text-center" > Executor </ th >
    < th class= "text-center" > Estoquista</ th >
    </ tr >
    </ thead >
    < tbody >
    < tr >
    < td > 7898318874191 </ td >
    < td > CUBO RODA FIAT(TRAS) UNO / STRADA S / ABS </ td >
    < td > BPs12 </ td >
    < td > 82,00 </ td >
    < td >< input type = "text" /></ td >
    < td >
    < select >
    < option ></ option >
    < option > Guilherme Carvalho </ option >
    < option > Almir Matos </ option >
    < option > Romulo Kaled </ option >
    </ select >
    </ td >
    < td >
    < button type = "button" class= "btn-submit" >
    Confirmar
    </ button >
    </ td >
    </ tr >
    < tr >
    < td > 7898318874191 </ td >
    < td > CUBO RODA FIAT(TRAS) UNO / STRADA S / ABS </ td >
    < td > BPs12 </ td >
    < td > 82,00 </ td >
    < td >< input type = "text" /></ td >
    < td >
    < select >
    < option ></ option >
    < option > Guilherme Carvalho </ option >
    < option > Almir Matos </ option >
    < option > Romulo Kaled </ option >
    </ select >
    </ td >
    < td >
    < button type = "button" class= "btn-submit" >
    Confirmar
    </ button >
    </ td >
    </ tr >
    </ tbody >
    </ table >
    </ div >
    </ div >
    < div class= "modal-footer" >
    < button type = "button" class= "btn btn-secondary btn-fechar" data - bs - dismiss = "modal" onclick = "limparCamposDoFormulario()" > Fechar </ button >
    < button type = "button" class= "btn btn-primary" id = "saveChangesBtn" > Salvar Alterações </ button >
    </ div >
    </ div >
    </ div >
    </ div >
