@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos devolvidos - Auto Elétrica Amapá</title>
</head>

<body>
    <div class="row">
        <div class="col-sm-12">
            <div class="card style-card style-card-shadow" style="margin-top: 80px; margin-left: 20px;">
                <div class="card-header d-flex justify-content-between style-card">
                    <div class="header-title">
                        <h5>Produtos devolvidos do carrinho - Sem O.S. vinculada</h5>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive body-table-devolvido">
                        <partial name="TabelaProdutoDevolvido.cshtml" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
