@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos devolvidos - Auto Elétrica Amapá</title>

    <style>
        hr {
            border-top: 1px solid black;
            width: 400px;
        }
    </style>

</head>

<body>
    <div class="row">
        <div class="col-sm-6">
            <div class="card style-card style-card-shadow" style="margin-top: 80px; margin-left: 20px;">
                <div class="card-header d-flex justify-content-between style-card">
                    <div class="header-title">
                        <h5>Teclas de atalho de navegação</h5>
                        <hr>
                    </div>
                </div>
                <div class="card-body">
                    <ul>
                        <li>Alt + o -> Navegar para a página de controle;</li>
                        <li>Alt + p -> Navegar para a página de produtos pendentes;</li>
                        <li>Alt + e -> Navegar para a página de produtos entregues;</li>
                        <li>Alt + c -> Navegar para a página de produtos no carrinho;</li>
                        <li>Alt + d -> Navegar para a página de produtos devolvidos pelo carrinho;</li>
                        <li>Alt + u -> Navegar para a página de configuração de usuário;</li>
                        <li>Alt + b -> Navegar para a página de verificação do código de barras;</li>
                        <li>Alt + i -> Navegar para a página de teclas de atalhos.</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card style-card style-card-shadow" style="margin-top: 80px; margin-left: 20px;">
                <div class="card-header d-flex justify-content-between style-card">
                    <div class="header-title">
                        <h5>Teclas de atalho de ação</h5>
                        <hr>
                    </div>
                </div>
                <div class="card-body">

                    <h6>Produtos Pendentes:</h6>
                    <ul>
                        <li>Alt + Insert -> Entrega de produto na página de produtos pendentes;</li>
                        <li>Alt + s -> Confirmar entrega produto na página de produtos pendentes;</li>
                    </ul>

                    <h6>Produtos Entregues:</h6>
                    <ul>
                        <li>Alt + Delete -> Remover produto da O.S na página de produtos entregues;</li>
                        <li>Alt + s -> Confirmar remoção de produto na página de produtos entregues;</li>
                    </ul>

                    <h6>Produtos no Carrinho:</h6>
                    <ul>
                        <li>Alt + Insert -> Adicionar produto na página de produtos no carrinho;</li>
                        <li>Alt + s -> Salvar produto na página de produtos no carrinho;</li>

                        <li>Alt + v -> Vincular produto na página de produtos no carrinho;</li>
                        <li>Alt + s -> Salvar produto na página de produtos no carrinho;</li>

                        <li>Alt + Delete -> Remover produto na página de produtos no carrinho;</li>
                        <li>Alt + s -> Salvar produto na página de produtos no carrinho;</li>
                    </ul>

                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>
